[kubernetes_master]
%{ for index, dns in kube-master-dns ~}
${dns} ansible_host=${kube-master-ip[index]} ansible_user=root
%{ endfor ~}


[kubernetes_worker]
%{ for index, dns in kube-worker-dns ~}
${dns} ansible_host=${kube-worker-ip[index]} ansible_user=root
%{ endfor ~}

[docker_hosts:children]
kubernetes_master
kubernetes_worker